@model ConjuntoPartidasUsuario

<!doctype html>
<html lang="en">
<head>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/NavBar.css" rel="stylesheet">





    <div class="container" id="encabezado" style="text-align:center">

        <

        <!-- Custom styles for this template -->
        <link href="~/css/navbar-top-fixed.css" rel="stylesheet">
</head>
<body>
    <style>

        .container {
            background-color: transparent !important;
        }

            .container > div {
                background-color: #212529 !important;
            }

        .table-wrapper {
            max-height: 50vh;
            overflow-y: auto;
        }



        #chart-line {
          transform: scale(1);
        }
        .card {
          max-width: 100%;
            background-color: transparent !important;
        }

        .card-body {
            height: auto;
        }
        
    </style>

    <div class="container">



        <form method="POST">

            <input type="date" name="fecha">
            <button onclick="Actualizar()">VER</button>
        </form>
        <br />


         @if (Model != null)
        {
            <div class="container" id="divGraficos">
                <div class="row">
                    <div class="col">

                        <div class="card">
                            <div class="card-header">Pie chart</div>
                            <div class="card-body">
                                <canvas id="chart-lineSeguimiento" class="chartjs-render-monitor"></canvas>
                            </div>
                        </div>
                   
                    </div>
                    <div class="col">

                        <div class="card">
                            <div class="card-header">Pie chart</div>
                            <div class="card-body">
                                <canvas id="chart-lineComparacionSeguimiento" class="chartjs-render-monitor"></canvas>
                            </div>

                        </div>
                    </div>

                      <div class="col" id="divStatsRondas">
                          <div class="card">
                         <table class="table table-dark table-hover " id="tablaSi" style="display:none">
                            <tbody>
                                <tr><th>  <h3 style="color:white;">Cantidades jugadas rondas: @Math.Round(Model.EstadisticasJugadas.CantidadesJugadasTipoRondas[0], 2)$</h3></th></tr>
                                <tr><th> <h3 style="color:white;">Ganancias Rondas: @Math.Round(Model.EstadisticasJugadas.GananciasTipoRondas[0], 2)$</h3></th></tr>
                                <tr><th> <h3 style="color:white;">Rentabilidad Rondas: @Math.Round(Model.EstadisticasJugadas.RentabilidadTipoRondas[0],2)$</h3></th></tr>
                               
                            </tbody>
                          </table>  </div>
                          <div class="card">
                            <table class="table table-dark table-hover " id="tablaNo" style="display:none">
                            <tbody>
                                <tr><th>  <h3 style="color:white;">Cantidades jugadas rondas: @Math.Round(Model.EstadisticasJugadas.CantidadesJugadasTipoRondas[1], 2)$</h3></th></tr>
                                <tr><th> <h3 style="color:white;">Ganancias Rondas: @Math.Round(Model.EstadisticasJugadas.GananciasTipoRondas[1], 2)$</h3></th></tr>
                                <tr><th> <h3 style="color:white;">Rentabilidad Rondas: @Math.Round(Model.EstadisticasJugadas.RentabilidadTipoRondas[1],2)$</h3></th></tr>
                               
                            </tbody>
                          </table>  </div>
                          <div class="card">
                          <table class="table table-dark table-hover " id="tablaMixto" style="display:none">
                            <tbody>
                                <tr><th>  <h3 style="color:white;">Cantidades jugadas rondas: @Math.Round(Model.EstadisticasJugadas.CantidadesJugadasTipoRondas[2], 2)$</h3></th></tr>
                                <tr><th> <h3 style="color:white;">Ganancias Rondas: @Math.Round(Model.EstadisticasJugadas.GananciasTipoRondas[2], 2)$</h3></th></tr>
                                <tr><th> <h3 style="color:white;">Rentabilidad Rondas: @Math.Round(Model.EstadisticasJugadas.RentabilidadTipoRondas[2],2)$</h3></th></tr>
                               
                            </tbody>
                          </table>  </div>


                          </div>
                </div>
            </div>


           @*Segunda versión de pie chart
               <div class="page-content page-container" id="page-content1">
                <div class="padding">
                    <div class="row">
                        <div class="container-fluid d-flex justify-content-center">
                            <div class="col-sm-8 col-md-6">
                                <div class="card" style="max-width: 50%;">
                                    <div class="card-header">Pie chart</div>
                                    <div class="card-body">
                                        <canvas id="chart-lineSeguimiento" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px; transform: scale(1);"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            


        @*Primera versión de pie chart
            <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row">
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="col-sm-8 col-md-6">
                            <div class="card">
                                <div class="card-header">Pie chart</div>
                                <div class="card-body" style="height: 420px">
                                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                        </div>
                                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
       


        <h1>Prueba estadísticas</h1>


       
           

            <h2>Jugadas</h2>
            <div class="table-wrapper">
                <table class="table table-info " id="jugadas-table">
                    <thead>
                        <tr>
                            <th>Jugada_id</th>
                            <th>Cantidad_Jugada</th>
                            <th>Seguimiento_Tabla</th>
                            <th>Cell_id</th>
                            <th>Table_id</th>
                            <th>Condicion</th>
                            <th>Ronda_id</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.EstadisticasJugadas.Jugadas.Count; i += 1)
                        {
                            <tr data-ronda-id="@Model.EstadisticasJugadas.Jugadas[i].Ronda_id">
                                <td>@Html.DisplayFor(model =>model.EstadisticasJugadas.Jugadas[i].Jugada_id)</td>
                                <td>@Html.DisplayFor(model => model.EstadisticasJugadas.Jugadas[i].Cantidad_jugada)</td>
                                <td>@Html.DisplayFor(model => model.EstadisticasJugadas.Jugadas[i].Seguimiento_Tabla)</td>
                                <td>@Html.DisplayFor(model =>model.EstadisticasJugadas.Jugadas[i].Id_celda)</td>
                                <td>@Html.DisplayFor(model =>model.EstadisticasJugadas.Jugadas[i].Table_id)</td>
                                <td>@Html.DisplayFor(model =>model.EstadisticasJugadas.Jugadas[i].Condicion)</td>
                                <td>@Html.DisplayFor(model =>model.EstadisticasJugadas.Jugadas[i].Ronda_id)</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }





    </div>
</body>










@section scripts { 
    <script src='~/js/Chart.bundle.min.js'></script>

    <script>
var myPieChart = null;
var myLineChart = null;
var condicion = "";

       $(document).ready(function () {
    var ctx = $("#chart-lineSeguimiento");
     myLineChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["Seguimiento tabla: true", "Seguimiento tabla: false"],
            datasets: [{
                data: [
@if (Model != null)
{
    var seguimientoTrueCount = 0;
    var seguimientoFalseCount = 0;
    for (var i = 0; i < Model.EstadisticasJugadas.Jugadas.Count; i++)
    {
        if (Model.EstadisticasJugadas.Jugadas[i].Seguimiento_Tabla)
        {
            seguimientoTrueCount++;
        }
        else
        {
            seguimientoFalseCount++;
        }
    }
    @Html.Raw(seguimientoTrueCount + "," + seguimientoFalseCount)
}
                        ],
                backgroundColor: ["rgba(0, 255, 0, 0.2)", "rgba(255, 0, 0, 0.2)"]
            }]
        },
        options: {
            responsive: true
        }
    });




var ctx = $("#chart-lineComparacionSeguimiento");
 myPieChart = new Chart(ctx, {
type: 'pie',
data: {
labels: ["Sí", "No", "Mixto"],
datasets: [{
data: [
  @if (Model != null) {
    var siCount = 0;
    var noCount = 0;
    var mixtoCount = 0;
    for (var i = 0; i < Model.EstadisticasJugadas.SeguimientoTipoRondas.Count; i++) {
      //var seguimientoRondas = Model.EstadisticasJugadas.SeguimientoRondas[i];
      //for (var j = 0; j < seguimientoRondas.Length; j++) {
        if (Model.EstadisticasJugadas.SeguimientoTipoRondas[i].Equals("si")) {
          siCount++;
        } else if (Model.EstadisticasJugadas.SeguimientoTipoRondas[i].Equals("no")) {
          noCount++;
        } else if (Model.EstadisticasJugadas.SeguimientoTipoRondas[i].Equals("mixto")) {
          mixtoCount++;
        }
      //}
    }
    @Html.Raw(siCount + ", " + noCount + ", " + mixtoCount)
  }
],
backgroundColor: [
  'rgba(255, 99, 132, 0.5)',
  'rgba(54, 162, 235, 0.5)',
  'rgba(255, 206, 86, 0.5)'
],
borderColor: [
  'rgba(255, 99, 132, 1)',
  'rgba(54, 162, 235, 1)',
  'rgba(255, 206, 86, 1)'
],
borderWidth: 1
}]
},
options: {
title: {
display: true,
text: 'Seguimiento Rondas',
fontSize: 20
},
legend: {
display: true,
position: 'bottom'
},
}
});






});


$("#chart-lineComparacionSeguimiento").click( 
    function(evt){
        var activePoints = myPieChart.getElementsAtEvent(evt);           
          var clickedElementindex = activePoints[0]["_index"];

      //get specific label by index 
        if (myPieChart.data.labels[clickedElementindex] === 'Sí') {
            condicion = 0;
        }if (myPieChart.data.labels[clickedElementindex] === 'No') {
            condicion = 1;
        }if (myPieChart.data.labels[clickedElementindex] === 'Mixto') {
            condicion = 2;
        }

      //get value by index      
      //var value = myPieChart.data.datasets[0].data[clickedElementindex];
       // alert(condicion);
        statsRondas();
    }
);  

function statsRondas(){
  
    
    alert(condicion);

       
        
    //var tableHTML = '<div class="col">' +
    //        '<table class="table table-dark table-hover">' +
    //      '<tbody>' +
    //        '<tr><th><h3 style="color:white;">cash inicial partidas:  Math.round(model.estadisticasjugadas.cantidadesjugadastiporondas[1], 2)$</h3></th></tr>' +
    //        '<tr><th><h3 style="color:white;">cash final partidas:  Math.round(model.estadisticasjugadas.gananciastiporondas[1], 2)$</h3></th></tr>' +
    //        '<tr><th><h3 style="color:white;">media ganancias partidas:  Math.round(model.estadisticasjugadas.rentabilidadtiporondas[1], 2)$</h3></th></tr>' +
    //      '</tbody>' +
    //    '</table>'+
    //    '</div>';
    if (condicion == 0) {
        document.getElementById('tablaSi').style.display = "inline-block";
        document.getElementById('tablaNo').style.display = "none";
         document.getElementById('tablaNo').style.display = "none";
    }  if (condicion == 1) {
       document.getElementById('tablaNo').style.display = "inline-block";
        document.getElementById('tablaSi').style.display = "none";
         document.getElementById('tablaMixto').style.display = "none";
    }  if (condicion == 2) {
        document.getElementById('tablaMixto').style.display = "inline-block";
        document.getElementById('tablaNo').style.display = "none";
         document.getElementById('tablaSi').style.display = "none";
    }
         
         // $("#tablaSi").append(tableHTML);
}

       
    </script>


  @*  <script>
        $(document).ready(function () {
            var ctx = $("#chart-line");
            var myLineChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["Spring", "Summer", "Fall", "Winter"],
                    datasets: [{
                        data: [1200, 1700, 800, 200],
                        backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)", "rgba(200, 50, 255, 0.5)", "rgba(0, 100, 255, 0.5)"]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Weather'
                    }
                }
            });
        });
    </script>*@
}
