@model ConjuntoPartidasUsuario

<!doctype html>
<html lang="en">
<head>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/NavBar.css" rel="stylesheet">





    <div class="container" id="encabezado" style="text-align:center">

        <

        <!-- Custom styles for this template -->
        <link href="~/css/navbar-top-fixed.css" rel="stylesheet">
</head>
<body>
    <style>

        .container {
            background-color: transparent !important;
        }

        .container > div {
            background-color: #212529 !important;
        }

        .table-wrapper {
            max-height: 50vh;
            overflow-y: auto;
        }
    </style>

    <div class="container">
        
        

        <form method="POST" style="display:none;">

            <input type="date" name="fecha">
            <button onclick="mostrarPartidas()">VER</button>
        </form>
        <br />

        @if (Model != null)
        {
            <h3 style="color:white;">Ganancias partidas acumuladas: @Math.Round(Model.Estadisticas.GananciasPartidasAcumuladas, 2)$</h3>
            <h3 style="color:white;">Cash inicial partidas: @Math.Round(Model.Estadisticas.CashInicialPartidas, 2)$</h3>
            <h3 style="color:white;">Cash final partidas: @Math.Round(Model.Estadisticas.CashFinalPartidas, 2)$</h3>
            <h3 style="color:white;">Media ganancias partidas: @Math.Round(Model.Estadisticas.MediaGananciasPartidas,2)$</h3>
            <h3 style="color:white;">Rentabilidad partidas: @Math.Round(Model.Estadisticas.RentabilidadPartidas,2) %</h3>
        }



        <h1>Prueba estadísticas</h1>


        @if (Model != null)
        {
            
            <h2>Partidas</h2>
            <div class="table-wrapper">
            <table class="table table-info table-wrapper" >
                <thead>
                    <tr>
                        <th>Partida_id</th>
                        <th>Cash_Inicial</th>
                        <th>Cash_Final</th>
                        <th>Fecha</th>
                        <th>Comentarios</th>
                        <th>Usuario_id</th>
                        <th>Rondas</th>
                    </tr>

                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Partidas.Count; i += 1)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model =>model.Partidas[i].Partida_id)</td>
                            <td>@Html.DisplayFor(model => model.Partidas[i].Cash_Inicial)</td>
                            <td>@Html.DisplayFor(model => model.Partidas[i].Cash_Final)</td>
                            <td>@Html.DisplayFor(model =>model.Partidas[i].Fecha)</td>
                            <td>@Html.DisplayFor(model => model.Partidas[i].Comentarios)</td>
                            <td>@Html.DisplayFor(model => model.Partidas[i].Usuario_id)</td>
                            <td><button class="btn btn-primary my-2" onclick="verRondas(@Model.Partidas[i].Partida_id)" id="botonRondas">Ver rondas</button></td>
                        </tr>
                    }

                </tbody>

            </table>
            </div>
            <h2>Rondas</h2>
            <div class="table-wrapper">
                <table class="table table-info table-wrapper" id="rondas-table" style="display:none;">
                <thead>
                    <tr>
                        <th>Ronda_id</th>
                        <th>Cantidad_Jugada</th>
                        <th>Ganancias</th>
                        <th>Partida_id</th>
                        <th>Jugadas</th>

                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Rondas.Count; i += 1)
                    {
                        <tr data-partida-id="@Model.Rondas[i].Partida_id">
                            <td>@Html.DisplayFor(model =>model.Rondas[i].Ronda_id)</td>
                            <td>@Html.DisplayFor(model => model.Rondas[i].Cantidad_jugada)</td>
                            <td>@Html.DisplayFor(model => model.Rondas[i].Ganancias)</td>
                            <td>@Html.DisplayFor(model =>model.Rondas[i].Partida_id)</td>
                            <td>
                                <button class="btn btn-primary my-2" onclick="verJugadas(@Model.Rondas[i].Ronda_id)" id="botonJugadas">Ver jugadas</button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
            </div>
            
            <h2>Jugadas</h2>
            <div class="table-wrapper">
                <table class="table table-info " id="jugadas-table" style="display:none;">
                <thead>
                    <tr>
                        <th>Jugada_id</th>
                        <th>Cantidad_Jugada</th>
                        <th>Seguimiento_Tabla</th>
                        <th>Identificador</th>
                        <th>Ronda_id</th>

                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Jugadas.Count; i += 1)
                    {
                        <tr data-ronda-id="@Model.Jugadas[i].Ronda_id">
                            <td>@Html.DisplayFor(model =>model.Jugadas[i].Jugada_id)</td>
                            <td>@Html.DisplayFor(model => model.Jugadas[i].Cantidad_jugada)</td>
                            <td>@Html.DisplayFor(model => model.Jugadas[i].Seguimiento_Tabla)</td>
                            <td>@Html.DisplayFor(model =>model.Jugadas[i].Identificador)</td>
                            <td>@Html.DisplayFor(model => model.Jugadas[i].Ronda_id)</td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        }





    </div>
</body>










@section scripts { 
    <script>

        function mostrarPartidas(){
            document.getElementById('rondas-table').style.display = "none";
            document.getElementById('jugadas-table').style.display = "none";
        }

        function verRondas(partidaId) {
            // Hide all rows in the rondas table

            document.getElementById('rondas-table').style.display = "inline";

            $('#rondas-table tbody tr').hide();

            // Show only the rows associated with the selected partida
            $('#rondas-table tbody tr[data-partida-id="' + partidaId + '"]').show();
        }

        function verJugadas(rondaId) {
            // Hide all rows in the jugadas table
            document.getElementById('jugadas-table').style.display = "inline";
 
            $('#jugadas-table tbody tr').hide();

            // Show only the rows associated with the selected ronda
            $('#jugadas-table tbody tr[data-ronda-id="' + rondaId + '"]').show();
        }

        $('#botonRondas').click(function () {
            // Get the partida_id from the button's data attribute
            var partidaId = $(this).data('partida-id');

            // Hide all rows in the rondas table
            $('#rondas-table tbody tr').hide();

            // Show only the rows associated with the selected partida
            $('#rondas-table tbody tr[data-partida-id="' + partidaId + '"]').show();

            // Hide all rows in the jugadas table
            $('#jugadas-table tbody tr').hide();
        });

        $('#botonJugadas').click(function () {
            // Get the ronda_id from the button's data attribute
            var rondaId = $(this).data('ronda-id');

            // Hide all rows in the jugadas table
            $('#jugadas-table tbody tr').hide();

            // Show only the rows associated with the selected ronda
            $('#jugadas-table tbody tr[data-ronda-id="' + rondaId + '"]').show();
        });






    </script>
}
