@using System.Security.Claims;
@model PartidaModel


   @if
                         (@Context.User.FindFirst(ClaimTypes.Role)?.Value == "admin")
    {

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">


                            <a class="nav-link text-white" asp-area="" asp-controller="Partidas" asp-action="Crud"><button class="btn btn-info">Volver</button></a>
                            <br />
                            <br />
                            <br />
                            <form method="post">
                                <h2 class="fw-bold mb-2 text-uppercase">Insertar usuario</h2>
                                <input type="hidden" name="Usuario_id" class="form-control" required value="@Model.Usuario_id" />
                                <input type="hidden" name="Partida_id" class="form-control" required value="@Model.Partida_id" />
                                <input type="hidden" name="Partida_id" class="form-control" required value="@Model.Fecha" />
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="typeEmailX">Cash inicial</label>
                                    <input type="text" name="Cash_Inicial" class="form-control form-control-lg" required value="@Model.Cash_Inicial" />
                              
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="typePasswordX">Cash final</label>
                                    <input type="text" name="Cash_Final" class="form-control form-control-lg" required value="@Model.Cash_Final" />
                               
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="typePasswordX">Comentarios</label>
                                    <input type="text" name="Comentarios" class="form-control form-control-lg" required value="@Model.Comentarios" />
                                  
                                </div>



                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Modificar partida</button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>





}
else
{

    <h1>No tienes permisos para acceder a esta funcionalidad</h1>
}

