@model List<Celda>

@{
    var i = 1;
    var y = 1;
}

    <form method="post">
        <label>SELECCIONE UNA TABLA</label>
        <select name="id" class="form-control">
        @for ( i = 1; i <= 249; i++)
        {
            <option value="@i">@i</option>
        }
            
        </select>
    <button class="btn btn-outline-dark">
        Mostrar Tabla
    </button>

    </form>

@if (Model != null)
{




<table class="table table-bordered">
<tbody>

        @foreach(Celda celda in Model){
           
            if(y == 0)
            {
                @:<tr>
            }
              <td style="background-color: @celda.Background_color; color:@celda.Color" id="@celda.Cell_id"><button style="background-color: @celda.Background_color; color:@celda.Color; font-weight:500; border: none;">@celda.Cell_id</button></td>
            if (y == 13)
            {
                @:</tr>
                y = 0;
            }
           y++;
            


    }



</tbody>


</table>

}