@model List<Celda>

@{
    var i = 1;
    var y = 1;
}



<!doctype html>
<html lang="en">
  <head>
   
    <!-- Bootstrap core CSS -->
         <link href="~/css/bootstrap.min.css" rel="stylesheet">
         <link href="~/css/NavBar.css" rel="stylesheet">





    
    <!-- Custom styles for this template -->
    <link href="~/css/navbar-top-fixed.css" rel="stylesheet">
  </head>
  <body>

    <form method="post">
        <label>SELECCIONE UNA TABLA</label>
        <select name="id" class="form-control">
        @for ( i = 1; i <= 249; i++)
        {
            <option value="@i">@i</option>
        }
            
        </select>
    <button class="btn btn-outline-dark">
        Mostrar Tabla
    </button>

    </form>




    @*<div class="btn-group" id="d100BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    BBvsLimp
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" name="b100BB_BBvsEP" 
        
        data-BBvsLimp = "6" 
        data-bb-hj = "16" 
        data-bb-btn = "20"
        
        name = "b100BB_BBvsEP" <!-- cuanco clickes inyectas el name -->
        
        
        id="6" href="#">BB vs EP</a></li>
    <li><a class="dropdown-item" name="b100BB_BBvsMP"  id="7" href="#">BB vs MP</a></li>
    <li><a class="dropdown-item" name="b100BB_BBvsHJ"  id="8" href="#">BB vs HJ</a></li>
     <li><a class="dropdown-item" name="b100BB_BBvsCO"  id="9" href="#">BB vs CO</a></li>
    <li><a class="dropdown-item" name="b100BB_BBvsBTN"  id="10" href="#">BB vs BTN</a></li>
      <li><a class="dropdown-item" name="b100BB_BBvsSB"  id="11" href="#">BB vs SB</a></li>
  </ul>
</div>*@




<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Seleccione una condición
  </button>
  <ul class="dropdown-menu">
    
    <li><hr class="dropdown-divider"></li>
    <li><a id="BBvsLimp"  class="dropdown-item" href="#">BB vs Limp</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a  id="DefendBB"  class="dropdown-item" href="#">Defend BB</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="Flat+3B"  class="dropdown-item" href="#">Flat + 3B</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="SQZ+CCMW"  class="dropdown-item" href="#">SQZ + CCMW</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="OS"  class="dropdown-item" href="#">OS</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="OR"  class="dropdown-item" href="#">OR</a></li>
     <li><hr class="dropdown-divider"></li>
    <li><a id="Reshove"  class="dropdown-item" href="#">Reshove</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="vsOS"  class="dropdown-item" href="#">vs OS</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="SBLimpia"  class="dropdown-item" href="#">SB Limpia</a></li>
        <li><hr class="dropdown-divider"></li>
    <li><a id="vs3Bet"  class="dropdown-item" href="#">vs 3Bet</a></li> 
  </ul>
</div>



 



<div class="btn-group" id="dBBvsLimp" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    BBvsLimp
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" name="bBBvsLimp_100BB" id="1" href="#">100BB</a></li>
    <li><a class="dropdown-item" name="bBBvsLimp_50BB"  id="2" href="#">50BB</a></li>
    <li><a class="dropdown-item" name="bBBvsLimp_30BB"  id="3" href="#">30BB</a></li>
     <li><a class="dropdown-item" name="bBBvsLimp_20BB"  id="4" href="#">20BB</a></li>
    <li><a class="dropdown-item" name="bBBvsLimp_15BB"  id="5" href="#">15BB</a></li>
  </ul>
</div>


<div class="btn-group" id="dDefendBB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    BBvsLimp
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="bDefendBB_100BB" href="#">100BB</a></li>
    <li><a class="dropdown-item" id="bDefendBB_50BB"  href="#">50BB</a></li>
    <li><a class="dropdown-item" id="bDefendBB_30BB"   href="#">30BB</a></li>
     <li><a class="dropdown-item" id="bDefendBB_20BB"   href="#">20BB</a></li>
    <li><a class="dropdown-item" id="bBBvsLimp_15BB"   href="#">15BB</a></li>
  </ul>
</div>





<div class="btn-group" id="d100BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    BBvsLimp
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" name="b100BB_BBvsEP" 
         
   id="6" href="#">BB vs EP</a></li>
    <li><a class="dropdown-item" name="b100BB_BBvsMP"  id="7" href="#">BB vs MP</a></li>
    <li><a class="dropdown-item" name="b100BB_BBvsHJ"  id="8" href="#">BB vs HJ</a></li>
     <li><a class="dropdown-item" name="b100BB_BBvsCO"  id="9" href="#">BB vs CO</a></li>
    <li><a class="dropdown-item" name="b100BB_BBvsBTN"  id="10" href="#">BB vs BTN</a></li>
      <li><a class="dropdown-item" name="b100BB_BBvsSB"  id="11" href="#">BB vs SB</a></li>
  </ul>
</div>

<div class="btn-group" id="d50BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    BBvsLimp
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" name="b50BB_BBvsEP" id="12" href="#">BB vs EP</a></li>
    <li><a class="dropdown-item" name="b50BB_BBvsMP"  id="13" href="#">BB vs MP</a></li>
    <li><a class="dropdown-item" name="b50BB_BBvsHJ"  id="14" href="#">BB vs HJ</a></li>
     <li><a class="dropdown-item" name="b50BB_BBvsCO"  id="15" href="#">BB vs CO</a></li>
    <li><a class="dropdown-item" name="b50BB_BBvsBTN"  id="16" href="#">BB vs BTN</a></li>
      <li><a class="dropdown-item" name="b50BB_BBvsSB"  id="17" href="#">BB vs SB</a></li>
  </ul>
</div>


<div class="btn-group" id="d30BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    BBvsLimp
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" name="b30BB_BBvsEP" id="18" href="#">BB vs EP</a></li>
    <li><a class="dropdown-item" name="b30BB_BBvsMP"  id="19" href="#">BB vs MP</a></li>
    <li><a class="dropdown-item" name="b30BB_BBvsHJ"  id="20" href="#">BB vs HJ</a></li>
     <li><a class="dropdown-item" name="b30BB_BBvsCO"  id="21" href="#">BB vs CO</a></li>
    <li><a class="dropdown-item" name="b30BB_BBvsBTN"  id="22" href="#">BB vs BTN</a></li>
      <li><a class="dropdown-item" name="b30BB_BBvsSB"  id="23" href="#">BB vs SB</a></li>
  </ul>
</div>

 <div class="btn-group" id="d20BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    BBvsLimp
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" name="b20BB_BBvsEP" id="18" href="#">BB vs EP</a></li>
    <li><a class="dropdown-item" name="b20BB_BBvsMP"  id="19" href="#">BB vs MP</a></li>
    <li><a class="dropdown-item" name="b20BB_BBvsHJ"  id="20" href="#">BB vs HJ</a></li>
     <li><a class="dropdown-item" name="b30BB_BBvsCO"  id="21" href="#">BB vs CO</a></li>
    <li><a class="dropdown-item" name="b30BB_BBvsBTN"  id="22" href="#">BB vs BTN</a></li>
      <li><a class="dropdown-item" name="b30BB_BBvsSB"  id="23" href="#">BB vs SB</a></li>
  </ul>
</div>
 



    <div id="d20BB">
    <input type="button" id="b20BB_BBvsEP" value="BB vs EP" onclick="generarTabla(24, 'd20BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    <input type="button" id="b20BB_BBvsMP" value="BB vs MP" onclick="generarTabla(25, 'd20BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    <input type="button" id="b20BB_BBvsHJ" value="BB vs HJ" onclick="generarTabla(26, 'd20BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    <input type="button" id="b20BB_BBvsCO" value="BB vs CO" onclick="generarTabla(27, 'd20BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    <input type="button" id="b20BB_BBvsBTN" value="BB vs BTN" onclick="generarTabla(28, 'd20BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    <input type="button" id="b20BB_BBvsSB" value="BB vs SB" onclick="generarTabla(29, 'd20BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    </div>

    <div id="d15BB">
    <input type="button" id="b15BB_BBvsEP" value="BB vs EP" onclick="generarTabla(30, 'd15BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    <input type="button" id="b15BB_BBvsMP" value="BB vs MP" onclick="generarTabla(31, 'd15BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    <input type="button" id="b15BB_BBvsHJ" value="BB vs HJ" onclick="generarTabla(32, 'd15BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    <input type="button" id="b15BB_BBvsCO" value="BB vs CO" onclick="generarTabla(3300, 'd15BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    <input type="button" id="b15BB_BBvsBTN" value="BB vs BTN" onclick="generarTabla(34, 'd15BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    <input type="button" id="b15BB_BBvsSB" value="BB vs SB" onclick="generarTabla(35, 'd15BB', 'dDefendBB', '', 1002)"style="color: white; background-color: green">
    </div>















@if (Model != null)
{




<table class="table table-bordered">
<tbody>

        @foreach(Celda celda in Model){
           
            if(y == 0)
            {
                @:<tr>
            }
              <td style="background-color: @celda.Background_color; color:@celda.Color" id="@celda.Cell_id"><button style="background-color: @celda.Background_color; color:@celda.Color; font-weight:500; border: none;">@celda.Cell_id</button></td>
            if (y == 13)
            {
                @:</tr>
                y = 0;
            }
           y++;
            


    }



</tbody>


</table>

}

</body>

@section scripts { 
<script>
$('ul.dropdown-menu a').click(function() {
    var id = $(this).attr('id');
    var nombre = $(this).attr('name');
    if (id === 'BBvsLimp') {
        
       document.getElementById('dBBvsLimp').style.display = 'inline-block';
     
    }
    if ($.isNumeric(id)  ) {
        
       alert(id);
     
    }
     
    
});
</script>
}

        </html>