@model IEnumerable<ProyectoMentopoker.Models.Partida>

@{
    ViewData["Title"] = "PruebaEstadisticas";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Inicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash_Final)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cash_Inicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cash_Final)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Partida_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Partida_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Partida_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
